

.navbar-brand{
    font-size: 25px;
    padding-left: 30px;
    padding-right: 50px;
}

.searchbar-form {
    margin-right: 500px;
    max-width: 500px;
    
}

.searchbar-form button{
    background-color: azure;
}


.genre{
    margin-right: 20px;

}