
<div class="container">
      <div class="logo">
         <a href="https://github.com/">IMDBLike</a>
        </div>

      <div class="links">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/movies">Top rated movies</a>
      </div>  
      
      <div class="search">
        <input type="text" placeholder="Search IMDBLike" name="search">
      </div>

      <div class="toogle-genre">
        <select class="genre" name="browseByGenre" aria-placeholder="Browse by genre" >
          <option *ngFor="let genre of genresArr" [routerLink]="['/genres/', genre.id]"
          (onClick)="this.genreComponent.searchByGenre((genre.id).toString())">
            {{genre.name}}</option>
          </select>
      </div>

</div>