<!doctype html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--   <script src="../../../assets/HeaderComponentHTMLClassToggle.js"></script>-->
     
   

</head>
<body>
<div class="Navbar">
    <div class="Navbar__Link Navbar__Link-brand">
        IMDBLike
     </div>
     <div class="Navbar__Link Navbar__Link-toggle" (click)="classToggle()">
       <i class="fas fa-bars"></i>
     </div>
    

   <nav class="Navbar__Items">
     <div class="Navbar__Link">
      <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
     </div>
     <div class="Navbar__Link">
      <a class="nav-link" href="/about">About</a>
     </div>
     <div class="Navbar__Link">
      <a class="nav-link" href="/movies">Top rated movies <span class="sr-only">(current)</span></a>
     </div>
   </nav>
   
    <div class="search">
      <form  action="/">
        <input class="search-form-input" search-form-inputtype="text" placeholder="Search IMDBLike" name="search">
        <button class="search-form-button" 	type="submit"><i class="fa fa-search"></i></button>
      </form>
   

   </div>
   <nav class="Navbar__Items Navbar__Items--right">
     <div class="Navbar__Link">
      Genre search<select class="genre" name="browseByGenre" aria-placeholder="Browse by genre" >
        
        <option *ngFor="let genre of genresArr" [routerLink]="['/genres/', genre.id]"
        (onClick)="this.genreComponent.searchByGenre((genre.id).toString())">
          {{genre.id}}</option>
        
        </select>
     </div>
     
   </nav>
 </div>






