<div class="full-page-width">
	<div class="center-content-container">
		<div class="content-container">
			<div class="movies-now-playing">
				<h1>Now playing</h1>
				<div class="left-part-carousel"></div>
				<p>Left side</p>
				<div class="right-part">
					<p>Right side</p>
				</div>
			</div>

			<div class="featured-today">
				<h1>Featured today</h1>
			</div>

			<div class="what-to-watch">
				<h1>What to watch</h1>
			</div>

			<div class="explore">
				<h1>Explore</h1>
			</div>
			<div class="random">
				<h1>Random</h1>
			</div>

		</div>
	</div>
</div>

<mat-slide-toggle>Toggle me!</mat-slide-toggle>
