.full-page-width {
    width: 100%;
    overflow: hidden;
    background-color: #ccc;
    height: 500px;
    border: black 2px solid;
}
.center-content-container {
    width: 260px;
    margin: 0 auto;
    border: black 2px solid;
}

.content-container {
    width: 100%;
    background-color: #aaa;
    margin: 0 auto;
    padding: 20px;
    border: black 2px solid;

}