<!DOCTYPE html>
<html class="no-js" lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge" />
	<title>IMDB - Catálogo de Filmes</title>
	<meta name="description" content="" />
	<link rel="shortcut icon" type="image/png" href="/favicon.png" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link
		href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="../home/normalize.css" />
	
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
		integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

</head>

<body>
	<header class="header">
		<nav class="navbar">
			<div class="nav-container">
				<div class="navbar-logo"></div>
				<div class="navbar-menu">
					<ul>
						<li id="active">Lançamentos</li>
						<li>Crítica</li>
						<li>Em Cartaz</li>
					</ul>
				</div>
				<div class="usuario">
					
					<span>Emanuelle Viana</span>
				</div>
			</div>
		</nav>
		<div class="title">
			<h1>MAD MAX: ESTRADA DA FÚRIA</h1>
			<span>
				<ul>
					<li>Aventura</li>
					<li>Sci-fi</li>
					<li>Terror</li>
				</ul>
			</span>
			<div><button id="play" #play>Assistir trailer <i class="far fa-play-circle"></i>
				</button></div>
			<h4>Nos cinemas</h4>
			<h5>15 de outubro de 2018</h5>
		</div>
	</header>


	<main>
		<section class="categorias">
			<div class="categorias-content">
				<ul>
					<li><a href="#">Nos cinemas</a></li>
					<li><a>Em Breve</a></li>
					<li><a>Bilheteria</a></li>
					<li><a>Séries</a></li>
					<li><a>Trailers</a></li>
				</ul>
			</div>
		</section>

		<section class="filmes">
			<div class="filmes-content">

				<div class="cards">
					<figure>
						<div class="container-img">
							<img src="./img/poster-moonlight.jpg" alt="Moonlight" style="width:100%">

							<div class="overlay">
								<div class="text">
									<span>Moonlight</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Moonlight</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-alita.jpg" alt="Alita" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Alita</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Alita</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>

					<figure>
						<div class="container-img">
							<img src="./img/poster-batman-superman.jpg" alt="BatmanVsSuperman" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Batman VS Superman</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Batman VS Superman</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>

					<figure>
						<div class="container-img">
							<img src="./img/poster-bladerunner.jpg" alt="Blade Runner" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Blade Runner</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>

						<figcaption>
							<h4>Blade Runner</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>

					<figure>
						<div class="container-img">
							<img src="./img/poster-capita-marvel.jpg" alt="Capitã Marvel" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Capitã Marvel</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Capitã Marvel</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-civil-war.jpg" alt="Guerra Civil" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Guerra Civil</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Guerra Civil</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-coringa.jpg" alt="Coringa" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Coringa</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Coringa</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-star-wars.jpg" alt="Star Wars" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Star Wars</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Star Wars</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>

					<figure>
						<div class="container-img">
							<img src="./img/poster-jurassic-world.jpg" alt="Jurassic World" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Jurassic World</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Jurassic World</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-liga-justica.jpg" alt="Liga da Justiça" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Liga da Justiça</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Liga da Justiça</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-mad-max.jpg" alt="Mad Max" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Mad Max</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Mad Max</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
					<figure>
						<div class="container-img">
							<img src="./img/poster-pantera-negra.jpg" alt="Pantera Negra" style="width:100%">
							<div class="overlay">
								<div class="text">
									<span>Pantera Negra</span>
									<i class="fas fa-play"></i>
								</div>
							</div>
						</div>
						<figcaption>
							<h4>Pantera Negra</h4>
							<h5>Aventura,SCI-FI,Terror</h5>
							<div class="opcoes">
								<i class="fa fa-heart" aria-hidden="true"></i>
								<span>7.5</span>
							</div>
						</figcaption>
					</figure>
				</div>
			</div>

		</section>
	</main>

	<footer>
		<div class="logo-footer">
			<img src="./img//logo-imdb.jpg">
		</div>
		<div class="social-networks">
			<a href="https://www.linkedin.com/in/emanuelle-viana/"><i class="fab fa-linkedin"></i></a>
			<a href="https://github.com/EmanuelleViana"><i class="fab fa-github"></i></a>
			<a href="https://twitter.com/manuh_v"><i class="fab fa-twitter"></i></a>
			<a href=""><i class="fab fa-facebook-square"></i></a>
			<a href="https://www.instagram.com/emanuelle_viana_/"><i class="fab fa-instagram"></i> </a>
		</div>
	</footer>

</body>

</html>