<!doctype html>
<html>
<head>

<script> 
const navs = [];
        function classToggle() {
        
           navs = document.querySelectorAll('.Navbar__Items')
          
          navs.forEach(nav => nav.classList.toggle('Navbar__ToggleShow'));
        }document.querySelector('.Navbar__Link-toggle')
          .addEventListener('click', classToggle);
    
</script>
</head>
<body>
<app-header></app-header>

<div class="loading" *ngIf="loading">
  <mat-progress-bar [color]="color" [mode]="mode" [value]="value"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<app-footer></app-footer>
</body>
</html>

